<a href="https://colab.research.google.com/github/Kanka-goswami/IISc_CDS_2302064/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab and Github repository setup
The idea is to built-up a portfolio and make an online repositoty for projects that are attempted in this course. In future, the aim is to develop on this code and create a better version.

I have created my own [github repository](https://github.com/Kanka-goswami/IISc_CDS_2302064) where the notebook would be saved. The following steps helps you save your project to github. Deiscription in [link](https://bebi103a.github.io/lessons/02/git_with_colab.html)
1. Setup GitHub access in colab
2. Pushing your notebook to the repository To do so from within a Colab notebook, click File --> Save a copy in GitHub . You will be prompted to add a commit message, and after you click OK , the notebook will be pushed to your repository.

# Python basics
This is a self-pased learning notebook where, I take notes and experiment with python codes.

## Data types in Python
Python is a _Dynamic Typing_ programming language. We dont have to declare a variable before assigning its data types.

The data types in python are
- numeric
 - integers
 - float
 - complex
- sequence
  - string
  - lists
  - tuples
- boolean
- sets
- dictionary

In [30]:
# EXAMPLES OF NUMERIC DATA TYPES IN PYTHON
a = 5
b = 2.0
c=complex(3,4)
d = 1 + 5j
print('\na is ',type(a),'with a value',a,
      '\nb is ',type(b),'with a value',b,
      '\nc is ',type(c),'defined using complex(3,4)',c,
      '\nd is ',type(d),'defined using z= a+bj',d
      )

a is  <class 'int'> with a value 5
b is  <class 'float'> with a value 2.0
c is  <class 'complex'> defined using complex(3,4) (3+4j)
d is  <class 'complex'> defined using z= a+bj (1+5j)

In [35]:
# EXAMPLES OF SEQUENCE DATA TYPES IN PYTHON
s1 = 'vowels'
s2 = [1,2,3]
s3 = ['v','o','w','e','l','s']
s4 = (1,4)
s5 = (1,'vowels')
print('\ns1 is ',type(s1),'defined using single quotes as:', s1,
      '\ns2 is ',type(s2),'defined by number and []:',s2,
      '\ns3 is ',type(s3),'defined using strings and []:',s3,
      '\ns4 is ',type(s4),'defined using numbers in parenthesis ()',s4,
      '\ns5 is ',type(s5),'defined using both strings and numbers',s5,
      )
# the list and tuples can be used as lists of lists or Lists of tuples
s7 = [[1,2],[3,4],[5,6]]
s8 = [(1,2),(3,4)]
s9 = ([1,2],[3,4],[5,6])
sA = ((1,2),[3,4])
sB = [(1,2),[3,4]]
print('\ns7 is ',type(s7),'is list of lists',s7,
      '\ns8 is ',type(s8),'is list of tuples',s8,
      '\ns9 is ',type(s9),'is tuple of lists',s9,
      '\nsA is ',type(sA),'is tuple of tuples',sA,
      '\nsB is ',type(sB),'is list of tuple and list',sB,
      )

s1 is  <class 'str'> defined using single quotes as: vowels
s2 is  <class 'list'> defined by number and []: [1, 2, 3]
s3 is  <class 'list'> defined using strings and []: ['v', 'o', 'w', 'e', 'l', 's']
s4 is  <class 'tuple'> defined using numbers in parenthesis () (1, 4)
s5 is  <class 'tuple'> defined using both strings and numbers (1, 'vowels')

s7 is  <class 'list'> is list of lists [[1, 2], [3, 4], [5, 6]]
s8 is  <class 'list'> is list of tuples [(1, 2), (3, 4)]
s9 is  <class 'tuple'> is tuple of lists ([1, 2], [3, 4], [5, 6])
sA is  <class 'tuple'> is tuple of tuples ((1, 2), [3, 4])
sB is  <class 'list'> is list of tuple and list [(1, 2), [3, 4]]

In [24]:
# EXAMPLES OF BOOLEAN DATA TYPES IN PYTHON
b1 = True
b2 = False
print(
    '\nb1 is', type(b1), 'defined as', b1,
    '\nb2 is , type(b2),'having boolean value', b2,
    '\nNote – True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.'
)

b1 is  <class 'bool'> defined as True
b2 is  <class 'bool'> having boolean value False
Note – True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.

In [28]:
# EXAMPLES OF SET DATA TYPES IN PYTHON
S0 = set()
S1 = set('PythonSetDataType')
S2 = set(s3) # set of list s3 defined under sequence data type
S3 = {'A','E','IOU'}
print(
    '\nS0 is', type(S0), 'which is an empty:', S0,
    '\nS1 is', type(S1), 'defined as:', S1,
    '\nS2 is', type(S2), ' made using a list:', S2,
    '\nS3 is a',type(S3), 'constructed using {}:',S3
)

S0 is <class 'set'> which is an empty: set()
S1 is <class 'set'> defined as: {'o', 'a', 't', 'D', 'y', 'e', 'T', 'h', 'S', 'p', 'P', 'n'}
S2 is <class 'set'>  made using a list: {'o', 's', 'l', 'e', 'w', 'v'}
S3 is a <class 'set'> constructed using {}: {'E', 'IOU', 'A'}

In [41]:
# EXAMPLES OF DICTIONARY DATA TYPES IN PYTHON
dict_1 = dict()
dict_2 = dict({1:'Python',2:'of',3:'Basics'})
dict_3 = {1:'Python',2:'of',3:'Basics'}
dict_4 = dict([(1,'A'),(2,'B'),(3,'C')])
print(
    '\ndict_1 is an empty', type(dict_1), 'constructed using method dict()', dict_1,
    '\ndict_2 is a', type(dict_2), 'defined using method dict() and passing {}', dict_2,
    '\ndict_3 is a', type(dict_3), 'defined using {} as: ',dict_3,
    '\ndict_4 is a', type(dict_4), 'defiend by list of tuples as: ',dict_4,
)

dict_1 is an empty <class 'dict'> constructed using method dict() {}
dict_2 is a <class 'dict'> defined using method dict() and passing {} {1: 'Python', 2: 'of', 3: 'Basics'}
dict_3 is a <class 'dict'> defined using {} as:  {1: 'Python', 2: 'of', 3: 'Basics'}
dict_4 is a <class 'dict'> defiend by list of tuples as:  {1: 'A', 2: 'B', 3: 'C'}

## Operators in Python
Operators carry out Arithmatic or Logical operations
$$Example:
5 + 4 = 9;$$
Here *5* and *4* are called _operands_ and _+_ is the operator.

The following are the list of operators in Python
- Arithmatic operators
- Logical (Boolean) operators
- Comparison operators
- Bitwise operators
- Assignment operators
- Identity operators
- Membership operators

In [44]:
# ARITHMATIC OPERATORS
print(
    '\nAddition: 4.75 + 5.25 = ', 4.75 + 5.25,
    '\nSubtraction: 4.75 - 5.25 = ', 4.75 - 5.25,
    '\nMultiplication: 4.75 * 5.25 = ', 4.75 * 5.25,
    '\nDivision (float): 4.75 / 5.25 = ', 4.75 / 5.25,
    '\nDivision (floor): 4.75 // 5.25 = ', 4.75 // 5.25,
    '\nModulus (returns the remainder of the division): 4.75 % 5.25= ', 4.75 % 5.25,
    '\nPower: 4.75 ** 5.25 = ', 4.75 ** 5.25,

)

Addition: 4.75 + 5.25 =  10.0
Subtraction: 4.75 - 5.25 =  -0.5
Multiplication: 4.75 * 5.25 =  24.9375
Division (float): 4.75 / 5.25 =  0.9047619047619048
Division (floor): 4.75 // 5.25 =  0.0
Modulus (returns the remainder of the division): 4.75 % 5.25=  4.75
Power: 4.75 ** 5.25 =  3569.7799875751616

Precedance of the arithmatic operators
1. P - Parentheses
2. E - Exponentiation
3. M - Multiplication (Multiplication and division have the same precedence)
4. D - Division
5. A - Addition (Addition and subtraction have the same precedence)
6. S - Subtraction

In [45]:
# LOGICAL OPERATORS
print(
    '\nLet a = True, b = False',
    '\nLogical And: a and b = ', True and False,
    '\nLogical Or: a or b = ', True or False,
    '\nLogical not: not a is ', not True,
)

Let a = True, b = False
Logical And: a and b =  False
Logical Or: a or b =  True
Logical not: not a is  False

In [47]:
# COMPARASION OPERATORS or RELATIONAL OPERATORS
m = 35
n = 55
print(
    '\n m =',m,
    '\n n =',n,
    '\nGreater than > : m > n is:', m > n,
    '\nLess than < : m < n is: ', m < n,
    '\nEqual to == : m == n is:', m==n,
    '\nNot equal to !=: m != n is:', m!=n,
    '\nGreater than equal >=: m >= n is:', m >= n,
    '\nLess than equal <=: m <= n is', m <= n,

)

 m = 35
 n = 55
Greater than > : m > n is: False
Less than < : m < n is:  True
Equal to == : m == n is: False
Not equal to !=: m != n is: True
Greater than equal >=: m >= n is: False
Less than equal <=: m <= n is True

Precedence of comparison operator is lower than arithmatic operator in Python.